{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css_links %}
	<!-- page specific plugin styles -->
	<link rel="stylesheet" href="{% static 'css/jquery-ui.custom.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}" />
	<link rel="stylesheet" href="{% static 'css/select2.css' %}" />
	<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}" />
{% endblock extra_css_links %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Usuario</a>
      </li>
      <li class="active">Perfíl</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  {{ block.super }}
  <div class="page-header">
    <h1>
      Mi Perfíl
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Visualiza tu información y modifica tu avatar en el sistema
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}

{% block contenido %}
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div class="clearfix">
				<div class="pull-left alert alert-success no-margin">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-umbrella bigger-120 blue"></i>
					Haz Click en la imagen de abajo para cambiarla o cambiar el nombre y los apellidos
				</div>
			</div>

			<div class="hr dotted"></div>

			<div>
				<div id="user-profile-1" class="user-profile row">
					<div class="col-xs-12 col-sm-3 center">
						<div>
							<!-- #section:pages/profile.picture -->
							<span class="profile-picture">
								<img id="avatar" class="editable img-responsive"
                                    {% if request.user.profesor.foto %}
                                        src="{{ MEDIA_URL }}{{usuario.foto}}"
                                    {% else %}
                                        src="{% static 'avatars/avatar2.png' %}"
                                    {% endif %}
                                alt="Avatar del usuario"/>
							</span>

							<!-- /section:pages/profile.picture -->
							<div class="space-4"></div>

							<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
								<div class="inline position-relative">
									&nbsp;
									<span class="white">{% firstof user.get_short_name user.get_username %}</span>
								</div>
							</div>
						</div>

					</div>

					<div class="col-xs-12 col-sm-9">
						<div class="center">
							<span class="btn btn-app btn-sm btn-light no-hover">
								<span class="line-height-1 bigger-170 blue"> {{ partes }} </span>

								<br />
								<span class="line-height-1 smaller-90"> Partes </span>
							</span>

							<span class="btn btn-app btn-sm btn-yellow no-hover">
								<span class="line-height-1 bigger-170"> {{ absentismos }} </span>

								<br />
								<span class="line-height-1 smaller-80"> Absentismo </span>
							</span>

							<span class="btn btn-app btn-sm btn-pink no-hover">
								<span class="line-height-1 bigger-170"> {{ retrasos }} </span>

								<br />
								<span class="line-height-1 smaller-90"> Retrasos </span>
							</span>

							<span class="btn btn-app btn-sm btn-grey no-hover">
								<span class="line-height-1 bigger-170"> {{ numgrupos }} </span>

								<br />
								<span class="line-height-1 smaller-90"> Grupos </span>
							</span>

							<span class="btn btn-app btn-sm btn-success no-hover">
								<span class="line-height-1 bigger-170"> {{ asignaturas }} </span>

								<br />
								<span class="line-height-1 smaller-90"> Asignaturas </span>
							</span>

							<span class="btn btn-app btn-sm btn-primary no-hover">
								<span class="line-height-1 bigger-170"> {{ alumnos }} </span>

								<br />
								<span class="line-height-1 smaller-90"> Alumnos </span>
							</span>
						</div>

						<div class="space-12"></div>

						<!-- #section:pages/profile.info -->
						<div class="profile-user-info profile-user-info-striped">

  							<div class="profile-info-row">
								<div class="profile-info-name"> Usuario </div>

								<div class="profile-info-value">
									<span class="editable" id="usuario">{{ request.user.username }}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Nombre </div>

								<div class="profile-info-value">
									<span class="editable" id="nombre">{{ request.user.first_name }}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Apellidos </div>

								<div class="profile-info-value">
									<span class="editable" id="apellidos">{{ request.user.last_name }}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> D.N.I. </div>

								<div class="profile-info-value">
									<span class="editable" id="dni">{{ request.user.profesor.dni }}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Última sesión </div>

								<div class="profile-info-value">
									<span class="editable" id="ultimoiniciosesion">{{ request.user.last_login }}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Fecha de alta </div>

								<div class="profile-info-value">
									<span class="editable" id="fechaalta">{{ request.user.date_joined }}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Usuario Rayuela </div>

								<div class="profile-info-value">
									<span class="editable" id="rayuela">{{ request.user.profesor.usuario_rayuela }}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> IP Actual </div>

								<div class="profile-info-value">
									<span class="editable" id="ip">{{ ip }}</span>
								</div>
							</div>

                            {% if request.session.es_responsable %}
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Responsable </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="responsable">
                                                Si
                                        </span>
                                    </div>
                                </div>
                            {% endif %}

                            {% if request.session.es_tutor %}
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Tutoría </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="tutoria">{{ request.session.grupo_tutoria.grupo }}</span>
                                    </div>
                                </div>
                            {% endif %}

                            {% if request.session.es_jefe %}
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Jefe Dpto. </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="esjefe">
                                            {% if request.session.es_jefe %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            {% endif %}

							<div class="profile-info-row">
								<div class="profile-info-name"> Departamento </div>

								<div class="profile-info-value">
									<span class="editable" id="departamento">
                                        {%  if request.session.departamento_profesor == "Sin Departamento Asignado" %}
                                            {{ request.session.departamento_profesor }}
                                        {% else %}
                                            {{ request.session.departamento_profesor.cursodepartamento.departamento }}
                                        {% endif %}
                                    </span>
								</div>
							</div>

                            {% if grupos %}
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Grupos </div>

                                    <div class="profile-info-value">
                                        {% for grupo in grupos %}
                                            <span class="editable" id="grupos">{{ grupo.cursogrupo.grupo }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {% for grupo in request.session.grupos_asignaturas_alumnos %}

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> {{ grupo.grupo }} </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="asignatura">({{ grupo.asignatura.abreviatura }}) {{ grupo.asignatura.asignatura }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"></div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="alumno">

                                            <div class="dd" id="nestable">
                                                <ol class="dd-list">

                                                    <li class="dd-item dd-collapsed" data-id="{{ grupo.grupo }}-{{ grupo.asignatura.abreviatura }}">
                                                        <div class="dd-handle">Alumnado</div>
                                                        <ol class="dd-list" style="display: none;">
                                                        {% for alumno in grupo.alumnos %}
                                                            <li class="dd-item" data-id="{{ alumno.id }}">
                                                                <div class="dd-handle">
                                                                    <span>
                                                                        <img width=50px src="{% static 'avatars/avatar4.png' %}" alt="Foto del alumno"/>
                                                                        <span>
                                                                            {{ alumno.apellidos }},&nbsp{{ alumno.nombre }}
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>


                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div><!-- /.row -->

{% endblock contenido %}

{% block extra_js_links %}
<!--
	<script src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
	<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
-->	
	<script src="{% static 'js/jquery.gritter.min.js' %}"></script>
<!--	
	<script src="{% static 'js/bootbox.min.js' %}"></script>
	<script src="{% static 'js/jquery.easy-pie-chart.min.js' %}"></script>
	<script src="{% static 'js/date-time/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-wysiwyg.min.js' %}"></script>
	<script src="{% static 'js/select2.min.js' %}"></script>
	<script src="{% static 'js/fuelux/fuelux.spinner.min.js' %}"></script>
-->	
	<script src="{% static 'js/x-editable/bootstrap-editable.min.js' %}"></script>
	<script src="{% static 'js/x-editable/ace-editable.min.js' %}"></script>	
<!--
	<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
-->
    <!--[if lte IE 8]>
        <script src="{static 'js/excanvas.min.js' %}"></script>
    <![endif]-->

    <script src="{% static 'js/jquery.nestable.min.js' %}"></script>

{% endblock extra_js_links %}

{% block extra_js %}
 <script>

    $(document).ready(function() {

            $.fn.editable.defaults.mode = 'inline';

            $('#nombre').editable({
                type: 'text',
                pk : '{{ request.user.id }}',//primary key to be sent to server
                name: 'nombre',
                url: '{% url "core:updatename" %}',
                send: 'always',
                success: function(response, newValue) {
                    $('#nombreusuario').text(newValue);
                }
            });

            $('#apellidos').editable({
                type: 'text',
                pk : '{{ request.user.id }}',//primary key to be sent to server
                name: 'apellidos',
                url: '{% url "core:updatename" %}',
                send: 'always'
            });

            // *** editable avatar *** //
            try {//ie8 throws some harmless exceptions, so let's catch'em

                //first let's add a fake appendChild method for Image element for browsers that have a problem with this
                //because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
                try {
                    document.createElement('IMG').appendChild(document.createElement('B'));
                } catch(e) {
                    Image.prototype.appendChild = function(el){}
                }

                var last_gritter
                $('#avatar').editable({
                    type: 'image',
                    name: 'avatar',
                    value: null,
                    image: {
                        //specify ace file input plugin's options here
                        btn_choose: 'Cambia Avatar',
                        droppable: true,
                        maxSize: 110000,//~100Kb

                        //and a few extra ones here
                        name: 'avatar',//put the field name here as well, will be used inside the custom plugin
                        on_error : function(error_type) {//on_error function will be called when the selected file has a problem
                            if(last_gritter) $.gritter.remove(last_gritter);
                            if(error_type == 1) {//file format error
                                last_gritter = $.gritter.add({
                                    title: '¡El archivo no es una imagen!',
                                    text: '¡Elige una imagen jpg|gif|png!',
                                    class_name: 'gritter-error gritter-center'
                                });
                            } else if(error_type == 2) {//file size rror
                                last_gritter = $.gritter.add({
                                    title: '¡Archivo demasiado grande!',
                                    text: '¡El tamaño del archivo no puede exceder los 100Kb!',
                                    class_name: 'gritter-error gritter-center'
                                });
                            }
                            else {//other error
                            }
                        },
                        on_success : function() {
                            $.gritter.removeAll();
                        }
                    },
                    url: function(params) {
                        // ***UPDATE AVATAR HERE*** //


                        var submit_url = '{% url "core:updatephoto" %}';//please modify submit_url accordingly
                        var deferred = null;
                        var avatar = '#avatar';

                        //if value is empty (""), it means no valid files were selected
                        //but it may still be submitted by x-editable plugin
                        //because "" (empty string) is different from previous non-empty value whatever it was
                        //so we return just here to prevent problems
                        var value = $(avatar).next().find('input[type=hidden]:eq(0)').val();
                        if(!value || value.length == 0) {
                            deferred = new $.Deferred
                            deferred.resolve();
                            return deferred.promise();
                        }

                        var $form = $(avatar).next().find('.editableform:eq(0)')
                        var file_input = $form.find('input[type=file]:eq(0)');
                        var pk = '{{ request.user.id }}';//primary key to be sent to server

                        var ie_timeout = null


                        if( "FormData" in window ) {
                            var formData_object = new FormData();//create empty FormData object

                            //serialize our form (which excludes file inputs)
                            $.each($form.serializeArray(), function(i, item) {
                                //add them one by one to our FormData
                                formData_object.append(item.name, item.value);
                            });
                            //and then add files
                            $form.find('input[type=file]').each(function(){
                                var field_name = $(this).attr('name');
                                var files = $(this).data('ace_input_files');
                                if(files && files.length > 0) {
                                    formData_object.append(field_name, files[0]);
                                }
                            });

                            //append primary key to our formData
                            formData_object.append('pk', pk);

                            deferred = $.ajax({
                                        url: submit_url,
                                       type: 'POST',
                                processData: false,//important
                                contentType: false,//important
                                   dataType: 'json',//server response type
                                       data: formData_object
                            })
                        }
                        else {
                            deferred = new $.Deferred

                            var temporary_iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
                            var temp_iframe =
                                    $('<iframe id="'+temporary_iframe_id+'" name="'+temporary_iframe_id+'" \
                                    frameborder="0" width="0" height="0" src="about:blank"\
                                    style="position:absolute; z-index:-1; visibility: hidden;"></iframe>')
                                    .insertAfter($form);

                            $form.append('<input type="hidden" name="temporary-iframe-id" value="'+temporary_iframe_id+'" />');

                            //append primary key (pk) to our form
                            $('<input type="hidden" name="pk" />').val(pk).appendTo($form);

                            temp_iframe.data('deferrer' , deferred);
                            //we save the deferred object to the iframe and in our server side response
                            //we use "temporary-iframe-id" to access iframe and its deferred object

                            $form.attr({
                                      action: submit_url,
                                      method: 'POST',
                                     enctype: 'multipart/form-data',
                                      target: temporary_iframe_id //important
                            });

                            $form.get(0).submit();

                            //if we don't receive any response after 30 seconds, declare it as failed!
                            ie_timeout = setTimeout(function(){
                                ie_timeout = null;
                                temp_iframe.attr('src', 'about:blank').remove();
                                deferred.reject({'status':'fail', 'message':'Timeout!'});
                            } , 30000);
                        }


                        //deferred callbacks, triggered by both ajax and iframe solution
                        deferred
                        .done(function(result) {//success
                            var res = result;//the `result` is formatted by your server side response and is arbitrary
                            if(res.status == 'OK') {
                                $(avatar).get(0).src = res.url;
                                $('.nav-user-photo').get(0).src = res.url; // update base.html avatar photo
                            }
                            else alert(res.message);
                        })
                        .fail(function(result) {//failure
                            alert("There was an error");
                        })
                        .always(function() {//called on both success and failure
                            if(ie_timeout) clearTimeout(ie_timeout)
                            ie_timeout = null;
                        });

                        return deferred.promise();

                        // ***END OF UPDATE AVATAR HERE*** //
                    },

                    success: function(response, newValue) {
                    }
                })
            }catch(e) {};

            $('.dd').nestable();
            $('.dd').nestable('collapseAll');

    });

</script>

{% endblock extra_js %}  