{% extends 'base.html' %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'partes:detalle' parte.pk %}">Detalle del parte {{ parte.pk }}</a>
      </li>
      <li class="active">Detalle del Parte {{ parte.pk }}</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Detalle del Parte
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Detalle del Parte {{ parte.pk }}
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}


{% block contenido %}

    <ul>
        <li>
            <span>{{ parte.id }}</span>
            <span>{{ parte.get_nombre_completo_alumno }}</span>
            <span>{{ parte.get_nombre_completo_profesor }}</span>
            <span>{{ parte.fecha }}</span>
            <span>{{ parte.parte }}</span>
            <span>{{ parte.con_parte }}</span>
            <span>{{ parte.comunicado }}</span>
            <span>{{ parte.cerrado }}</span>
            <ul>
            {% for seguimiento in parte.seguimientos.all %}
                <li>
                    <span>{{ seguimiento.id }}</span>
                    <span>{{ seguimiento.get_nombre_completo }}</span>
                    <span>{{ seguimiento.seguimiento }}</span>
                </li>
            {% endfor %}
            </ul>
            </li>
    </ul>

{% endblock contenido %}