{% extends 'base.html' %}

{% load thumbnail %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes' %}">Partes</a>
      </li>
      <li class="active">Edición Parte {{ parte.pk }}</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Edición del Parte
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Edición del Parte {{ parte.pk }} ({{ parte.fecha }}) de {{ parte.get_nombre_completo_profesor }}
          a {{ parte.get_nombre_completo_alumno }} ({{ parte.get_nombre_grupo_alumno }})
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}


{% block contenido %}

<div class="row">
    <div class="col-sm-7">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Parte {{ parte.id }} - {{ parte.get_nombre_completo_alumno }} ({{ parte.get_nombre_grupo_alumno }})</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 align-center">
                            {% if parte.grupoalumno.cursoalumno.alumno.foto %}
                                {% thumbnail parte.grupoalumno.cursoalumno.alumno.foto "150x140" as fotoalu %}
                                    <img class="nav-user-photo img-circle img-thumbnail" style="margin:{{ fotoalu|margin:"150x140" }}"
                                        src="{{ fotoalu.url }}" width="{{ fotoalu.width }}" height="{{ fotoalu.height }}"
                                        alt="Foto de {{ parte.grupoalumno.cursoalumno.alumno }}" />
                                {% endthumbnail %}
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <form action="" method="post" role="form" class="form-horizontal">{% csrf_token %}
                                <!-- #section:elements.form -->
                                <div class="form-group">
                                    <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> Grupo </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="col-xs-12" value="{{ parte.get_nombre_grupo_alumno }}"
                                               id="form-field-1">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="form-field-2" class="col-sm-3 control-label no-padding-right"> Alumno </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="col-xs-12" value="{{ parte.get_nombre_completo_alumno }}"
                                               id="form-field-2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="form-field-3" class="col-sm-3 control-label no-padding-right"> Profesor </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="col-xs-12" value="{{ parte.get_nombre_completo_profesor }}"
                                               id="form-field-3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="form-field-4" class="col-sm-3 control-label no-padding-right"> Fecha </label>

                                    <div class="col-sm-9">
                                        {{ form.fecha }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="form-field-5" class="col-sm-3 control-label no-padding-right"> Parte </label>

                                    <div class="col-sm-9">
                                        {{ form.parte }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="form-field-6" class="col-sm-3 control-label no-padding-right"> Parte </label>
                                    <div class="col-sm-9">
                                        {{ form.con_parte }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="form-field-7" class="col-sm-3 control-label no-padding-right"> Comunicado </label>
                                    <div class="col-sm-9">
                                        {{ form.comunicado }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="form-field-8" class="col-sm-3 control-label no-padding-right"> Cerrado </label>
                                    <div class="col-sm-9">
                                        {{ form.cerrado }}
                                    </div>
                                </div>
                                <div class="col-xs-offset-4 col-xs-7">
                                    <button type="button submit" class="width-35 btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-save"></i>
                                        <span class="bigger-110">Grabar</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="widget-box collapsed">
            <div class="widget-header">
                <h4 class="widget-title">Seguimientos en el parte {{ parte.id }}</h4>
                    <span class="widget-toolbar">
                        <a data-action="collapse" href="#">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </span>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    {% for seguimiento in parte.seguimientos.all %}
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="form-field-{{ seguimiento.created }}-fecha" class="col-sm-12 col-md-3 control-label"> Fecha </label>

                                <div class="col-sm-12 col-md-9">
                                    <input type="text" class="col-xs-12" value="{{ seguimiento.created }}"
                                           id="form-field-{{ seguimiento.created }}-fecha" readonly disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="form-field-{{ seguimiento.id }}-responsable" class="col-sm-12 col-md-3 control-label"> Responsable </label>
                                <div class="col-sm-12 col-md-9">
                                    <input type="text" class="col-xs-12" id="form-field-{{ seguimiento.id }}-responsable" readonly disabled
                                       value="{{ seguimiento.get_nombre_completo }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="form-field-{{ seguimiento.id }}-seguimiento" class="col-sm-12 col-md-3 control-label"> Seguimiento </label>
                                <div class="col-sm-12 col-md-9">
                                    <textarea class="col-xs-12" id="form-field-{{ seguimiento.id }}-seguimiento" rows="3" readonly disabled>{{ seguimiento.seguimiento }}</textarea>
                                </div>
                            </div>
                        </form>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock contenido %}