{% extends 'base.html' %}

{% load thumbnail %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes' %}">Partes</a>
      </li>
      <li class="active">Nuevo Parte</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Nuevo Parte
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Nuevo Parte
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}


{% block contenido %}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Parte</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 align-center">



                        </div>
                        <div class="col-xs-12 col-md-10">
                            <form role="form" class="form-horizontal" action="" method="POST">{% csrf_token %}
                                {% if form.non_field_errors %}
                                    <li style="list-style-type: none;" class="text-warning bigger-110 red">
                                    {% for error in form.non_field_errors %}
                                        <i class="ace-icon fa fa-exclamation-triangle"></i>
                                        {{ error|escape }}
                                    {% endfor %}
                                    </li>
                                {% endif %}
                                <div class="form-group">
                                    <label for="id-alumno" class="col-sm-3 control-label no-padding-right"> Alumn@ </label>
                                    <div class="col-sm-9">
                                        {% if form.alumno.errors %}
                                            <li style="list-style-type: none;" class="text-warning bigger-110 red">
                                            {% for error in form.alumno.errors %}
                                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                                {{ error|escape }}
                                            {% endfor %}
                                            </li>
                                        {% endif %}
                                        <input type="text" class="col-xs-12" id="id-alumno" name="alumno"
                                               placeholder="Teclea nombre del alumn@">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id-fecha" class="col-sm-3 control-label no-padding-right"> Fecha </label>
                                    <div class="col-sm-9">
                                        {% if form.fecha.errors %}
                                            <li style="list-style-type: none;" class="text-warning bigger-110 red">
                                            {% for error in form.fecha.errors %}
                                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                                {{ error|escape }}
                                            {% endfor %}
                                            </li>
                                        {% endif %}
                                        <input type="date" class="col-xs-12" id="id-fecha" name="fecha"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id-parte" class="col-sm-3 control-label no-padding-right"> Motivo </label>
                                    <div class="col-sm-9">
                                        {% if form.parte.errors %}
                                            <li style="list-style-type: none;" class="text-warning bigger-110 red">
                                            {% for error in form.parte.errors %}
                                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                                {{ error|escape }}
                                            {% endfor %}
                                            </li>
                                        {% endif %}
                                        <textarea class="col-xs-12" rows="6" id="id-parte" name="parte"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id-comunicado" class="col-sm-3 control-label no-padding-right"> Comunicado </label>
                                    <div class="col-sm-9">
                                        <input type="checkbox" class="col-xs-12" id="id-comunicado" name="comunicado"/>
                                    </div>
                                </div>

                                <div class="col-xs-offset-4 col-xs-7">
                                    <button type="button submit" class="width-35 btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-save"></i>
                                        <span class="bigger-110">Enviar</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock contenido %}