{% extends 'base.html' %}

{% load thumbnail %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes' %}">Partes</a>
      </li>
      <li class="active">Nuevo Parte</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Nuevo Parte
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Nuevo Parte
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}


{% block contenido %}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Parte</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 align-center">



                        </div>
                        <div class="col-xs-12 col-md-10">
                            <form role="form" class="form-horizontal">
                                <!-- #section:elements.form -->
                                <div class="form-group">
                                    <label for="form-grupo" class="col-sm-3 control-label no-padding-right"> Grupo </label>
                                    <div class="col-sm-9">
                                        <select class="col-xs-12" id="form-grupo">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-alumno" class="col-sm-3 control-label no-padding-right"> Alumn@ </label>
                                    <div class="col-sm-9">
                                        <select class="col-xs-12" id="form-alumno">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-fecha" class="col-sm-3 control-label no-padding-right"> Fecha </label>
                                    <div class="col-sm-9">
                                        <input type="date" class="col-xs-12" id="form-fecha"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-parte" class="col-sm-3 control-label no-padding-right"> Motivo </label>
                                    <div class="col-sm-9">
                                        <textarea class="col-xs-12" placeholder="Describe el motivo del parte" id="form-parte">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-comunicado" class="col-sm-3 control-label no-padding-right"> Comunicado </label>
                                    <div class="col-sm-9">
                                        <input type="checkbox" class="col-xs-12" id="form-comunicado"/>
                                    </div>
                                </div>
                            </form>
                            <div class="col-xs-offset-4 col-xs-7">
                                <a class="btn btn-success" href="{% url 'parte:partes' %}">
                                    <i class="ace-icon fa fa-save bigger-110"></i>
                                        Grabar
                                </a>
                                <a class="btn btn-danger" href="{% url 'parte:partes' %}">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Cancelar
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock contenido %}