{% extends 'base.html' %}

{% load staticfiles %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes' %}">Partes</a>
      </li>
      <li class="active">Partes del profesorado</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Partes
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Partes del profesorado
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}


{% block contenido %}
    <div class="table-header">
        Partes del profesorado
    </div>

    <div>
    <!--
        <div id="partes-responsable_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="row">
                <div class="col-xs-6">
                    <div id="partes-responsable_length" class="dataTables_length">
                        <label>Muestra
                            <select size="1" name="partes-responsable_length" aria-controls="partes-responsable">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>partes
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_filter" id="partes-responsable_filter">
                    <label>Buscar: <input type="text" aria-controls="partes-responsable"></label>
                </div>
            </div>
        </div>
    -->
        <table id="partes-responsable" class="table table-striped table-bordered table-hover dataTable" aria-describedby="partes-responsable_info">
        <thead>
            <tr role="row">
                <th class="hidden-480 sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Id: activate to sort column ascending">Id</th>
                <th class="sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Fecha: activate to sort column ascending">Fecha</th>
                <th class="sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Grupo: activate to sort column ascending">Grupo</th>
                <th class="sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Update: activate to sort column ascending">Alumno</th>
                <th class="sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Update: activate to sort column ascending">Profesor</th>
                <th class="hidden-480 sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Parte</th>
                <th class="hidden-480 sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Comun.</th>
                <th class="hidden-480 sorting align-center" role="columnheader" tabindex="0" aria-controls="partes-responsable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Cerrado</th>
                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
            </tr>
        </thead>


        <tbody role="alert" aria-live="polite" aria-relevant="all">
        {% for parte in partes %}
            {% cycle 'odd' 'event' as rowcolors silent %}
            <tr class="{{ rowcolors }}">

                <td class="hidden-480 align-right">{{ parte.id }}</td>
                <td class="align-center">{{ parte.fecha | date:"SHORT_DATE_FORMAT" }}</td>
                <td class="align-center">{{ parte.get_nombre_grupo_alumno }}</td>
                <td class="align-left">{{ parte.get_nombre_completo_alumno }}</td>
                <td class="align-left">{{ parte.get_nombre_completo_profesor }}</td>

                <td class="hidden-480 align-center">
                    {% if parte.con_parte %}
                        <i class="ace-icon fa fa-check bigger-120"></i>
                    {% endif %}
                </td>
                <td class="hidden-480 align-center">
                    {% if parte.comunicado %}
                        <i class="ace-icon fa fa-check bigger-120"></i>
                    {% endif %}
                </td>
                <td class="hidden-480 align-center">
                    {% if parte.cerrado %}
                        <i class="ace-icon fa fa-check bigger-120"></i>
                    {% endif %}
                </td>

                <td class="align-center">
                    <div class="hidden-sm hidden-xs action-buttons">
                        <a class="blue tooltip-info" href="#" data-rel="tooltip" title="" data-original-title="Ver">
                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                        </a>

                        <a class="green tooltip-success" href="#" data-rel="tooltip" title="" data-original-title="Edita">
                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                        </a>

                    </div>

                    <div class="hidden-md hidden-lg">
                        <div class="inline position-relative">
                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                        <span class="blue">
                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                        <span class="green">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
                                        <span class="red">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <!--
        <div class="row">
            <div class="col-xs-6">
                <div class="dataTables_info" id="sample-table-2_info">Mostrando partes 1 al 10 de 23 totales</div>
            </div>
            <div class="col-xs-6">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination">
                        <li class="prev disabled">
                            <a href="#"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li class="prev disabled">
                            <a href="#"><i class="fa fa-angle-left"></i></a>
                        </li><li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li><li><a href="#">3</a></li>
                        <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        -->
	</div>






    <ul>
    {% for parte in partes %}
        <li>
            <span>{{ parte.id }}</span>
            <span>{{ parte.get_nombre_completo_alumno }}</span>
            <span>{{ parte.get_nombre_completo_profesor }}</span>
            <span>{{ parte.fecha }}</span>
            <span>{{ parte.parte }}</span>
            <span>{{ parte.con_parte }}</span>
            <span>{{ parte.comunicado }}</span>
            <span>{{ parte.cerrado }}</span>
            <ul>
            {% for seguimiento in parte.seguimientos.all %}
                <li>
                    <span>{{ seguimiento.id }}</span>
                    <span>{{ seguimiento.get_nombre_completo }}</span>
                    <span>{{ seguimiento.seguimiento }}</span>
                </li>
            {% endfor %}
            </ul>
            </li>
    {% endfor %}
    </ul>


{% endblock contenido %}

{% block extra_js_links %}
		<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
{% endblock extra_js_links %}

{% block extra_js %}
    <script type="text/javascript">
        jQuery(function($) {
            var oTable1 =
            $('#partes-responsable')
            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
            .dataTable( {
                "language": {
                    "url": "{% static 'js/dataTables.spanish.lang' %}"
                },
                "order": [[ 1, "desc" ], [ 0, "desc" ]],
                bAutoWidth: false,
                "aoColumns": [
                  null, null, null,null,null,
                  { "bSortable": false },
                  { "bSortable": false },
                  { "bSortable": false } ,
                  { "bSortable": false }
                ]


                //,
                //"sScrollY": "200px",
                //"bPaginate": false,

                //"sScrollX": "100%",
                //"sScrollXInner": "120%",
                //"bScrollCollapse": true,
                //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                //"iDisplayLength": 50
            } );



            $(document).on('click', 'th input:checkbox' , function(){
                var that = this;
                $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function(){
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });
            });


            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }

        })
    </script>
{% endblock extra_js %}