{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes-responsable' %}">Partes del centro</a>
      </li>
      <li class="active">Partes del centro</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Partes del Centro
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Partes del Centro
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}

{% block contenido %}

    <div class="table-header">
      <span class="badge badge-success">{{ total_partes }}</span>
      <span> Partes del centro</span>
      <span class="badge badge-important">Partes {{ total_partes_partes }}</span>
      <span class="badge badge-important">Comunicados {{ total_partes_comunicados }}</span>
      <span class="badge badge-important">Cerrados {{ total_partes_cerrados }}</span>
    </div>

    <table id="grid"></table>
    <div id="pager"></div>

{% endblock contenido %}

{% block extra_js %}
    <script type="text/javascript">

            $.getJSON("{% url 'parte:grid_config' %}", function(data){
                $("#grid")
                    .jqGrid(data)
                    .navGrid("#pager",
                        {add: false, edit: false, del: false, view: true},
                {}, // edit options
                {}, // add options
                {}, // del options
                { multipleSearch:true, closeOnEscape:true }, // search options
                { jqModal:false, closeOnEscape:true} // view options
                );
            });

    </script>
{% endblock extra_js %}