{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes-profesor' %}">Partes</a>
      </li>
      <li class="active">Partes del profesor {{ request.user.get_full_name }}</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Partes
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Partes del profesor {{ request.user.get_full_name }}
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}


{% block contenido %}

    <div class="table-header">
      <span class="badge badge-success">{{ total_partes }}</span>
      <span> Partes del profesor {{ request.user.get_full_name }}</span>
      <span class="badge badge-important">Parte {{ total_partes_partes }}</span>
      <span class="badge badge-important">Comunicados {{ total_partes_comunicados }}</span>
      <span class="badge badge-important">Cerrados {{ total_partes_cerrados }}</span>
    </div>

    <div>
        <table id="partes-profesor"></table>
        <div id="partes-profesor-pager"></div>
	</div>

{% endblock contenido %}


{% block extra_js %}
    <script type="text/javascript">
        var partes = [
            {id: 1, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 2, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 3, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 4, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 5, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 6, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 7, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 8, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 9, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: 10, grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' }
        ];

        jQuery(function($) {
            var grid_selector = "#partes-profesor";
            var pager_selector = "#partes-profesor-pager";
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', $(".page-content").width());
            })
            //resize on sidebar collapse/expand
            var parent_column = $(grid_selector).closest('[class*="col-"]');
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                }
            })
            $('#partes-profesor').jqGrid({
                datatype: 'local',
                data: partes,
                colmodel: [
                    {id: 'id', label: 'Id'},
                    {id: 'grupo', label: 'Grupo'},
                    {id: 'fecha', label: 'Fecha'},
                    {id: 'alumno', label: 'Alumn@'},
                    {id: 'con_parte', label: 'Parte'},
                    {id: 'comunicado', label: 'Comunicado'},
                    {id: 'cerrado', label: 'Cerrado'},
                    {id: 'parte', label: 'Parte'}
                ],
                height: 'auto',
                caption: 'Partes del profesorado'
            });
        });

    </script>
{% endblock extra_js %}