{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes-profesor' %}">Partes</a>
      </li>
      <li class="active">Partes del profesor {{ request.user.get_full_name }}</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Partes
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Partes del profesor {{ request.user.get_full_name }}
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}

{% block angularCTRL %}ParteCtrl{% endblock angularCTRL %}

{% block contenido %}

    <div class="table-header">
      <span class="badge badge-success">{{ total_partes }}</span>
      <span> Partes del profesor {{ request.user.get_full_name }}</span>
      <span class="badge badge-important">Parte {{ total_partes_partes }}</span>
      <span class="badge badge-important">Comunicados {{ total_partes_comunicados }}</span>
      <span class="badge badge-important">Cerrados {{ total_partes_cerrados }}</span>
    </div>

    <table id="mygrid"></table>
    <div id="pager"></div>

{% endblock contenido %}


{% block extra_js %}
    <script type="text/javascript">
        jQuery(function($) {
            var grid_selector = "#mygrid";
            var pager_selector = "#pager";

            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid( 'setGridWidth', $(".page-content").width() );
            })
            //resize on sidebar collapse/expand
            var parent_column = $(grid_selector).closest('[class*="col-"]');
            $(document).on('settings.ace.jqGrid' , function(ev, event_name, collapsed) {
                if( event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed' ) {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function() {
                        $(grid_selector).jqGrid( 'setGridWidth', parent_column.width() );
                    }, 0);
                }
            })

            //if your grid is inside another element, for example a tab pane, you should use its parent's width:
            /**
            $(window).on('resize.jqGrid', function () {
                var parent_width = $(grid_selector).closest('.tab-pane').width();
                $(grid_selector).jqGrid( 'setGridWidth', parent_width );
            })
            //and also set width when tab pane becomes visible
            $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
              if($(e.target).attr('href') == '#mygrid') {
                var parent_width = $(grid_selector).closest('.tab-pane').width();
                $(grid_selector).jqGrid( 'setGridWidth', parent_width );
              }
            })
            */





            jQuery(grid_selector).jqGrid({
                regional : 'es',
                //direction: "rtl",

                //subgrid options
                subGrid : true,
                //subGridModel: [{ name : ['No','Item Name','Qty'], width : [55,200,80] }],
                //datatype: "xml",
                subGridOptions : {
                    plusicon : "ace-icon fa fa-plus center bigger-110 blue",
                    minusicon  : "ace-icon fa fa-minus center bigger-110 blue",
                    openicon : "ace-icon fa fa-chevron-right center orange"
                },
                //for this example we are using local data

                subGridRowExpanded: function (subgridDivId, rowId) {
                    var subgridTableId = subgridDivId + "_t";
                    $("#" + subgridDivId).html("<div class='widget-header' id='" + subgridTableId + "'>"+
/*                            '<div class="widget-header">'+
												'<h4 class="widget-title lighter">Parte</h4>'+
												'<div class="widget-toolbar no-border">'+
													'<a href="#" data-action="settings">'+
														'<i class="ace-icon fa fa-cog"></i>'+
													'</a>'+

													'<a href="#" data-action="reload">'+
														'<i class="ace-icon fa fa-refresh"></i>'+
													'</a>'+

													'<a href="#" data-action="collapse">'+
														'<i class="ace-icon fa fa-chevron-up"></i>'+
													'</a>'+

													'<a href="#" data-action="close">'+
														'<i class="ace-icon fa fa-times"></i>'+
													'</a>'+
    											'</div>'+
											'</div>'+
*/

											'<div class="widget-body">'+
												'<div class="widget-main padding-6 no-padding-left no-padding-right">'+
                                                    jQuery(grid_selector).getRowData(rowId).parte+
                                            '</div></div>');


                    /*
                    $("#" + subgridTableId).jqGrid({
                        datatype: 'local',
                        data: subgrid_data,
                        colNames: ['No','Item Name','Qty'],
                        colModel: [
                            { name: 'id', width: 50 },
                            { name: 'name', width: 150 },
                            { name: 'qty', width: 50 }
                        ]
                    });
                    */
                },

                //data: grid_data,
                url: '{% url 'parte:partes_profesor' %}',
                sortname: 'fecha',
                sortorder: 'desc',
                datatype: "json",
                height: 250,
                colNames:['Id', 'Grupo', 'Foto', 'Alumn@', 'Parte', 'Fecha', 'Parte', 'Comunicado', 'Cerrado',
                'id_grupoalumno', 'id_cursogrupo'],
                colModel:[
                    /*
                    {name:'myac',index:'', width:80, fixed:true, sortable:false, resize:false, sortable: false, search: false,
                        formatter:'actions',
                        formatoptions:{
                            keys:true,
                            delbutton: false,//disable delete button

                            delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                            //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                        }
                    },
                    */
                    {name:'id',index:'id', hidden: true,width:15, sortable: false, search: false},
                    {name:'grupo',index:'grupo', width: 25, align:"center", editable: true, edittype: 'select',
                        searchoptions: {
                            clearSearch: false
                        },
                        editoptions: {
                            dataUrl: '{% url "grupo:dame_grupos_curso" %}',
                            buildSelect: buildSelectGrupos
                        }
                    },
                    {name:'foto',index:'foto', hidden: true, width:10, align:"center", editable: false,
                        sortable: false, search: false, formatter: formatFoto},
                    {name:'alumno',index:'alumno', editable: true, sortable: true, edittype: 'select',
                        //formatter: formatAlumno, unformat: unformatAlumno,
                        searchoptions: {
                            clearSearch: false
                        },
                        editoptions: {
                            value: '0:Selecciona alumn@...'
                        }
                    },

                    {name:'parte',index:'parte', sortable:false,editable: true, hidden: true,
                        //formatter: formatParte, unformat: unformatParte,
                        search: false,
                        edittype:"textarea",
                        editoptions:{rows:"10",cols:"80"},
                        editrules: {edithidden: true, required: true}
                    },

                    {name:'fecha',index:'fecha', width:20, align:"center", editable: true,
                        //sorttype: "date",
                        //formatter: 'date',
						//srcformat: 'Y-m-d',
						//newformat: 'm/d/Y',
                        searchoptions: {
                            sopt: ['ge'],
                            clearSearch: false,
                            // dataInit is the client-side event that fires upon initializing the toolbar search field for a column
                            // use it to place a third party control to customize the toolbar
                            dataInit: function (element) {
                                $(element).datepicker();
                            }
                        },



                        editoptions: {
                                // dataInit is the client-side event that fires upon initializing the toolbar search field for a column
                                // use it to place a third party control to customize the toolbar
                                dataInit: function (element) {
                                    $(element).datepicker({
                                        language: 'es',
                                        firstDay: 1,
                                        weekStart: 1,
                                        autoclose: true,
                                        todayHighlight: true,
                                        format: "yyyy-mm-dd"}
                                    );
                                }
                            }},
                    {name:'con_parte',index:'con_parte', width:20, align:'center', sortable:false, editable: false,
                        search: true,
                        formatter:'checkbox',
                        stype: 'select',
                        searchoptions: {
                            value: ":Todos;True:Si;False:No",
                            clearSearch: false
                        }
                    },
                    {name:'comunicado',index:'comunicado', width:20, align: 'center', sortable:false, editable: true,
                        search: true,
                        formatter: 'checkbox',
                        stype: 'select',
                        searchoptions: {
                            value: ":Todos;True:Si;False:No",
                            clearSearch: false
                        },
                        edittype:"checkbox", formatoptions: {disabled: false},
                        editoptions: {
                            value: "Si:No"
                        }
                    },
                    {name:'cerrado',index:'cerrado', width:20, align: 'center', sortable:false, editable: false,
                        search: true,
                        formatter: 'checkbox',
                        stype: 'select',
                        searchoptions: {
                            value: ":Todos;True:Si;False:No",
                            sopt: ['eq'],
                            clearSearch: false
                        }
                    },
                    {name: 'id_grupoalumno', hidden: true},
                    {name: 'id_cursogrupo', hidden: true}
                ],
                viewrecords : true,
                rowNum:10,
                rowList:[10,20,30],
                pager : pager_selector,
                altRows: true,
                //toppager: true,

                //multiselect: true,
                //multikey: "ctrlKey",
                //multiboxonly: true,

                loadComplete : function() {
                    var table = this;
                    var iCol = getColumnIndexByName ($(table), 'comunicado');
                    var rows = table.rows;
                    var i;
                    var c = rows.length;
                    for (i = 0; i < c; i += 1) {
                        $(rows[i].cells[iCol]).click(function (e) {
                            var id = $(e.target).closest('tr')[0].id
                            var isChecked = $(e.target).is(':checked');
                            var campo = 'comunicado';
                            $.ajax({url: '{% url "parte:partes_actualiza" %}',
                                type: 'POST',
                                data: {id: id, isChecked: isChecked, campo: campo}
                            });
                        });
                    };

                    setTimeout(function(){
                        styleCheckbox(table);

                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },

                //gridComplete: initGrid,
                editurl: '{% url 'parte:partes_actualiza' %}',
                caption: "Mis partes"

                //,autowidth: true,

                //'cellEdit' : true,
	            //'cellsubmit' : 'remote',
	            //'cellurl' : '/editacelda',

                /**
                ,
                grouping:true,
                groupingView : {
                     groupField : ['name'],
                     groupDataSorted : true,
                     plusicon : 'fa fa-chevron-down bigger-110',
                     minusicon : 'fa fa-chevron-up bigger-110'
                },
                caption: "Grouping"
                */

            });
            $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

            //enable search/filter toolbar
            //jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
            jQuery(grid_selector).filterToolbar({});


            //switch element when editing inline
            function aceSwitch( cellvalue, options, cell ) {
                setTimeout(function(){
                    $(cell) .find('input[type=checkbox]')
                        .addClass('ace ace-switch ace-switch-5')
                        .after('<span class="lbl"></span>');
                }, 0);
            }
            //enable datepicker
            function pickDate( cellvalue, options, cell ) {
                setTimeout(function(){
                    $(cell) .find('input[type=text]')
                            .datepicker({format:'yyyy-mm-dd' , autoclose:true});
                }, 0);
            }

            // formatea parte
            function formatParte(cellValue, options, rowObject) {
                var parteHtml = "<p originalValue='"+cellValue+"'>"+cellValue.substring(0, 100)+"...</p>"
                //return cellValue.substring(0, 100) + "...";
                return parteHtml;
            };

            function unformatParte(cellValue, options, cellObject) {
                return $(cellObject.html()).attr("originalValue");
            };

            // formatea foto
            function formatFoto(cellValue, options, rowObject) {
                var imageHtml = "<img alt='Foto de "+rowObject.alumno+"' class='nav-user-photo img-circle' src='" + cellValue +
                        "' originalValue='" + cellValue + "' />";
                return imageHtml;
            }

            function unformatFoto(cellValue, options, cellObject) {
                return $(cellObject.html()).attr("originalValue");
            }

            // formatea alumno
            function formatAlumno(cellValue, options, rowObject) {
                var imageHtml = "<div id='"+rowObject.id+"'><img class='nav-user-photo img-circle' src='" + rowObject.foto +
                        "' originalValue='" + cellValue + "' />"+"<span>"+cellValue+"</span></div>";
                return imageHtml;
            }

            function unformatAlumno(cellValue, options, cellObject) {
                return $(cellObject.html()).attr("originalValue");
            }


            function getColumnIndexByName(grid, columnName) {
                var cm = grid.jqGrid('getGridParam', 'colModel'), i, l;
                for (i = 0, l = cm.length; i < l; i += 1) {
                    if (cm[i].name === columnName) {
                        return i; // return the index
                    }
                }
                return -1;
            };


            // the bindKeys()
            $(grid_selector).jqGrid('bindKeys');

            //navButtons
            jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                { 	//navbar options
                    edit: true,
                    editicon : 'ace-icon fa fa-pencil blue',
                    add: true,
                    addicon : 'ace-icon fa fa-plus-circle purple',
                    del: false,
                    delicon : 'ace-icon fa fa-trash-o red',
                    search: false,
                    searchicon : 'ace-icon fa fa-search orange',
                    refresh: true,
                    refreshicon : 'ace-icon fa fa-refresh green',
                    view: true,
                    viewicon : 'ace-icon fa fa-search-plus grey'
                },
                {
                    closeOnEscape: true,//Closes the popup on pressing escape key
                    reloadAfterSubmit: true,
                    drag: true,
                    //edit record form
                    editCaption: 'Modificación de parte',
                    closeAfterEdit: true,
                    width: 800,
                    recreateForm: true,
                    viewPagerButtons: false,
                    afterShowForm: cargaAlumnos,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    },
					afterSubmit : function( data, postdata, oper) {
						var response = data.responseJSON;
						if (response.hasOwnProperty("error")) {
							if(response.error.length) {
								return [false,response.error ];
							}
						}
						return [true,"",""];
					},
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.error
                    }
                },
                {
                    //new record form
                    addCaption: 'Alta de nuevo parte',
                    width: 800,
                    closeAfterAdd: true,
                    recreateForm: true,
                    viewPagerButtons: false,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    },
					afterSubmit : function( data, postdata, oper) {
                        debugger;
						var response = data.responseJSON;
						if (response.hasOwnProperty("error")) {
							if(response.error.length) {
								return [false,response.error ];
							}
						}
						return [true,"",""];
					},
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.error
                    }
                },
                {
                    //delete record form
                    recreateForm: true,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        if(form.data('styled')) return false;

                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_delete_form(form);

                        form.data('styled', true);
                    },
                    onClick : function(e) {
                        //alert(1);
                    }
                },
                {
                    //search form
                    recreateForm: true,
                    afterShowSearch: function(e){
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                        style_search_form(form);
                    },
                    afterRedraw: function(){
                        style_search_filters($(this));
                    }
                    ,
                    multipleSearch: true,
                    /**
                    multipleGroup:true,
                    showQuery: true
                    */
                },
                {
                    //view record form
                    recreateForm: true,
                    beforeShowForm: function(e){
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    }
                }
            )

            function buildSelectGrupos(grupos) {
                // first of all load the groups
                var response = jQuery.parseJSON(grupos);

                var s = '<select>';

                jQuery.each(response, function(i, item) {

                    s += '<option value="'+response[i].id+'">'+response[i].grupo+'</option>';

                });
                return s + "</select>";
            }

            function cargaAlumnos() {
                // first of all update the student based on the group
                actualizaAlumnosCallBack($("#grupo").val(), true);
                // then hook the change event of the group dropdown so that it updates students all the time
                $("#grupo").bind("change", function (e) {
                    actualizaAlumnosCallBack($("#grupo").val(), false);
                });
            }

            function actualizaAlumnosCallBack(grupo, setselected) {
				var current = $(grid_selector).jqGrid('getRowData',$(grid_selector)[0].p.selrow).id_grupoalumno;
				$("#alumno")
                     .html("<option value='0'>Cargando alumnos...</option>")
                     .attr("disabled", "disabled");

                $.ajax({
                    url: '{% url "alumno:dame_alumnos_curso" %}'+'?term='+$("#grupo").val(),
                    type: "GET",
                    success: function (alumnos) {
                        $("#alumno option[value='0']").remove();
                        $("#alumno").removeAttr("disabled");
                             //.html(citiesHtml);
                        $.each(alumnos, function(key, val) {
                          $("#alumno").append('<option value="' + val.id + '">' + val.nombre + '</option>');
                        });
                        if(setselected) {
                            $("#alumno").val( current );
                        }
                    }
                })
            }

            function style_edit_form(form) {
                //enable datepicker on "sdate" field and switches for "stock" field
                form.find('input[name=fecha]').datepicker({format:'yyyy-mm-dd' , autoclose:true})

                form.find('input[name=comunicado]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
                           //don't wrap inside a label element, the checkbox value won't be submitted (POST'ed)
                          //.addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');


                //update buttons classes
                var buttons = form.next().find('.EditButton .fm-button');
                buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
                buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
                buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')

                buttons = form.next().find('.navButton a');
                buttons.find('.ui-icon').hide();
                buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
                buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');
            }

            function style_delete_form(form) {
                var buttons = form.next().find('.EditButton .fm-button');
                buttons.addClass('btn btn-sm btn-white btn-round').find('[class*="-icon"]').hide();//ui-icon, s-icon
                buttons.eq(0).addClass('btn-danger').prepend('<i class="ace-icon fa fa-trash-o"></i>');
                buttons.eq(1).addClass('btn-default').prepend('<i class="ace-icon fa fa-times"></i>')
            }

            function style_search_filters(form) {
                form.find('.delete-rule').val('X');
                form.find('.add-rule').addClass('btn btn-xs btn-primary');
                form.find('.add-group').addClass('btn btn-xs btn-success');
                form.find('.delete-group').addClass('btn btn-xs btn-danger');
            }
            function style_search_form(form) {
                var dialog = form.closest('.ui-jqdialog');
                var buttons = dialog.find('.EditTable')
                buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'ace-icon fa fa-retweet');
                buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'ace-icon fa fa-comment-o');
                buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'ace-icon fa fa-search');
            }

            function beforeDeleteCallback(e) {
                var form = $(e[0]);
                if(form.data('styled')) return false;

                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_delete_form(form);

                form.data('styled', true);
            }

            function beforeEditCallback(e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_edit_form(form);
            }



            //it causes some flicker when reloading or navigating grid
            //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
            //or go back to default browser checkbox styles for the grid
            function styleCheckbox(table) {

                $(table).find('input:checkbox').addClass('ace')
                .wrap('<label />')
                .after('<span class="lbl align-top" />')


                $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                .find('input.cbox[type=checkbox]').addClass('ace')
                .wrap('<label />').after('<span class="lbl align-top" />');

            }


            //unlike navButtons icons, action icons in rows seem to be hard-coded
            //you can change them like this in here if you want
            function updateActionIcons(table) {
                /**
                var replacement =
                {
                    'ui-ace-icon fa fa-pencil' : 'ace-icon fa fa-pencil blue',
                    'ui-ace-icon fa fa-trash-o' : 'ace-icon fa fa-trash-o red',
                    'ui-icon-disk' : 'ace-icon fa fa-check green',
                    'ui-icon-cancel' : 'ace-icon fa fa-times red'
                };
                $(table).find('.ui-pg-div span.ui-icon').each(function(){
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                    if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                })
                */
            }

            //replace icons with FontAwesome icons like above
            function updatePagerIcons(table) {
                var replacement =
                {
                    'ui-icon-seek-first' : 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev' : 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next' : 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end' : 'ace-icon fa fa-angle-double-right bigger-140'
                };
                $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                    if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                })
            }

            function enableTooltips(table) {
                $('.navtable .ui-pg-button').tooltip({container:'body'});
                $(table).find('.ui-pg-div').tooltip({container:'body'});
            }

            //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');

            $(document).one('ajaxloadstart.page', function(e) {
                $(grid_selector).jqGrid('GridUnload');
                $('.ui-jqdialog').remove();
            });
        });

    </script>
{% endblock extra_js %}