{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block breadcrumbs %}
  <!-- #section:basics/content.breadcrumbs -->
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-bullhorn home-icon"></i>
        <a href="{% url 'parte:partes-profesor' %}">Partes</a>
      </li>
      <li class="active">Partes del profesor {{ request.user.get_full_name }}</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
  </div>
  <!-- /section:basics/content.breadcrumbs -->
{% endblock breadcrumbs %}



{% block pageheader %}
  <div class="page-header">
    <h1>
      Partes
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Partes del profesor {{ request.user.get_full_name }}
      </small>
    </h1>
  </div><!-- /.page-header -->
{% endblock pageheader %}


{% block contenido %}

    <div class="table-header">
      <span class="badge badge-success">{{ total_partes }}</span>
      <span> Partes del profesor {{ request.user.get_full_name }}</span>
      <span class="badge badge-important">Parte {{ total_partes_partes }}</span>
      <span class="badge badge-important">Comunicados {{ total_partes_comunicados }}</span>
      <span class="badge badge-important">Cerrados {{ total_partes_cerrados }}</span>
    </div>

    <table id="partes-profesor"></table>
    <div id="partes-profesor-pager"></div>


{% endblock contenido %}


{% block extra_js %}
    <script type="text/javascript">

        var partes = [
            {id: "1", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "2", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "3", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "4", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "5", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "6", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "7", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "8", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "9", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' },
            {id: "10", grupo: '1AE', fecha: '2014-12-15', alumno:'Alcantarilla Romero, Pablo', con_parte: 'True', comunicado: 'True', cerrado: 'True', parte: 'Pues el parte' }
        ];

        jQuery(function($) {
            var grid_selector = "#partes-profesor";
            var pager_selector = "#partes-profesor-pager";
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', $(".page-content").width());
            })
            //resize on sidebar collapse/expand
            var parent_column = $(grid_selector).closest('[class*="col-"]');
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                }
            })
            jQuery(grid_selector).jqGrid({
                datatype: "local",
                data: partes,
                colNames:[' ', 'ID','Grupo','Fecha', 'Alumn@', 'Parte','Comunicado', 'Cerrado'],
                colModel:[
                    {name:'myac',index:'', width:80, fixed:true, sortable:false, resize:false,
                        formatter:'actions',
                        formatoptions:{
                            keys:true,

                            //delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                            //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                        }
                    },
                    {name:'id',index:'id', width:30, sorttype:"int", editable: false},
                    {name:'grupo',index:'grupo', width:30,editable: true,editoptions:{size:"20",maxlength:"30"}},
                    {name:'fecha',index:'fecha',width:60, editable:true, sorttype:"date"},
                    {name:'alumno',index:'alumno', width:150,editable: true,editoptions:{size:"20",maxlength:"30"}},
                    {name:'con_parte',index:'con_parte', width:30, editable: true,edittype:"checkbox",editoptions: {value:"Yes:No"}},
                    {name:'comunicado',index:'comunicado', width:30, editable: true,edittype:"checkbox",editoptions: {value:"Yes:No"}},
                    {name:'cerrado',index:'con_parte', width:30, editable: true,edittype:"checkbox",editoptions: {value:"Yes:No"}}
                ],
                height: 'auto',
                //caption: 'Partes del profesorado',
                viewrecords : true,
                rowNum:10,
                rowList:[10,20,30],
                pager : pager_selector,
                altRows: true
                //multiselect: true


            });
            $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size
			//navButtons
            jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                { 	//navbar options
                    edit: true,
                    editicon : 'ace-icon fa fa-pencil blue',
                    add: true,
                    addicon : 'ace-icon fa fa-plus-circle purple',
                    del: true,
                    delicon : 'ace-icon fa fa-trash-o red',
                    search: true,
                    searchicon : 'ace-icon fa fa-search orange',
                    refresh: true,
                    refreshicon : 'ace-icon fa fa-refresh green',
                    view: true,
                    viewicon : 'ace-icon fa fa-search-plus grey',
                },
                {
                    //edit record form
                    //closeAfterEdit: true,
                    //width: 700,
                    recreateForm: true,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //new record form
                    //width: 700,
                    closeAfterAdd: true,
                    recreateForm: true,
                    viewPagerButtons: false,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //delete record form
                    recreateForm: true,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        if(form.data('styled')) return false;

                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_delete_form(form);

                        form.data('styled', true);
                    },
                    onClick : function(e) {
                        alert(1);
                    }
                },
                {
                    //search form
                    recreateForm: true,
                    afterShowSearch: function(e){
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                        style_search_form(form);
                    },
                    afterRedraw: function(){
                        style_search_filters($(this));
                    }
                    ,
                    multipleSearch: true,
                    /**
                    multipleGroup:true,
                    showQuery: true
                    */
                },
                {
                    //view record form
                    recreateForm: true,
                    beforeShowForm: function(e){
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    }
                }
            )


        });

    </script>
{% endblock extra_js %}