{% load staticfiles %}
{% load firstof from future %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>
			{% block title %}
			GesIESWeb
			{% endblock title %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="shortcut icon" href="{% static 'imgproject/favicon.ico' %} " />		
		
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'css/ace-fonts.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'css/ace.min.css' %}" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'css/ace-part2.min.css' %}" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'css/ace-skins.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/ace-rtl.min.css' %}" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'css/ace-ie.min.css' %}" />
		<![endif]-->
		
		<!-- inline styles related to this page -->
		{% block extra_css_links %}

		{% endblock extra_css_links %}

		<!-- ace settings handler -->
		<script src="{% static 'js/ace-extra.min.js' %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'js/html5shiv.min.js' %}"></script>
		<script src="{% static 'js/respond.min.js' %}"></script>
		<![endif]-->
		
		<!-- This file store project specific CSS -->
		<link rel="stylesheet" href="{% static 'cssproject/gesiesweb.css' %}" />
		<!-- Use this to quickly test CSS changes in a template, then move to gesiesweb.css -->

		{% block extra_css %}

		{% endblock extra_css %} 

	</head>

	<body class="no-skin">
		
		{% block navbar %}
			<!-- #section:basics/navbar.layout -->
			<div id="navbar" class="navbar navbar-default">
				<script type="text/javascript">
					try{ace.settings.check('navbar' , 'fixed')}catch(e){}
				</script>
	
				<div class="navbar-container" id="navbar-container">
					<!-- #section:basics/sidebar.mobile.toggle -->
					<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
						<span class="sr-only">Toggle sidebar</span>
	
						<span class="icon-bar"></span>
	
						<span class="icon-bar"></span>
	
						<span class="icon-bar"></span>
					</button>
	
					<!-- /section:basics/sidebar.mobile.toggle -->
					<div class="navbar-header pull-left">
						<!-- #section:basics/navbar.layout.brand -->
						<a href="{% url 'core:home' %}" class="navbar-brand">
							<small>
								<i class="fa fa-leaf"></i>
								GesIESWeb
							</small>
						</a>
	
						<!-- /section:basics/navbar.layout.brand -->
	
						<!-- #section:basics/navbar.toggle -->
	
						<!-- /section:basics/navbar.toggle -->
					</div>
	
					<!-- #section:basics/navbar.dropdown -->
					{% if request.user.is_authenticated %}
					<div class="navbar-buttons navbar-header pull-right" role="navigation">
						<ul class="nav ace-nav">
							<li class="grey">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<i class="ace-icon fa fa-tasks"></i>
									<span class="badge badge-grey">4</span>
								</a>
	
								<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
									<li class="dropdown-header">
										<i class="ace-icon fa fa-check"></i>
										4 Tasks to complete
									</li>
	
									<li>
										<a href="#">
											<div class="clearfix">
												<span class="pull-left">Task Name</span>
												<span class="pull-right">65%</span>
											</div>
	
											<div class="progress progress-mini">
												<div style="width:65%" class="progress-bar"></div>
											</div>
										</a>
									</li>
	
									<li class="dropdown-footer">
										<a href="#">
											See tasks with details
											<i class="ace-icon fa fa-arrow-right"></i>
										</a>
									</li>
								</ul>
							</li>
	
							<li class="purple">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<i class="ace-icon fa fa-bell icon-animated-bell"></i>
									<span class="badge badge-important">8</span>
								</a>
	
								<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
									<li class="dropdown-header">
										<i class="ace-icon fa fa-exclamation-triangle"></i>
										8 Notifications
									</li>
	
									<li>
										<a href="#">
											<div class="clearfix">
												<span class="pull-left">
													<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
													New Comments
												</span>
												<span class="pull-right badge badge-info">+12</span>
											</div>
										</a>
									</li>
	
									<li class="dropdown-footer">
										<a href="#">
											See all notifications
											<i class="ace-icon fa fa-arrow-right"></i>
										</a>
									</li>
								</ul>
							</li>
	
							<li class="green">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
									<span class="badge badge-success">5</span>
								</a>
	
								<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
									<li class="dropdown-header">
										<i class="ace-icon fa fa-envelope-o"></i>
										5 Messages
									</li>
	
									<li class="dropdown-content">
										<ul class="dropdown-menu dropdown-navbar">
											<li>
												<a href="#">
													<img src="{% static 'avatars/avatar.png' %}" class="msg-photo" alt="Alex's Avatar" />
													<span class="msg-body">
														<span class="msg-title">
															<span class="blue">Alex:</span>
															Message Summary
														</span>
	
														<span class="msg-time">
															<i class="ace-icon fa fa-clock-o"></i>
															<span>Message Time</span>
														</span>
													</span>
												</a>
											</li>
										</ul>
									</li>
	
									<li class="dropdown-footer">
										<a href="inbox.html">
											See all messages
											<i class="ace-icon fa fa-arrow-right"></i>
										</a>
									</li>
								</ul>
							</li>
	
							<!-- #section:basics/navbar.user_menu -->
							<li class="light-blue">
								<a data-toggle="dropdown" href="#" class="dropdown-toggle">
									<img class="nav-user-photo"
                                         {% if request.user.usuario.foto %}
                                            src="{{ MEDIA_URL }}{{request.user.usuario.foto}}"
                                         {% else %}
                                            src="{% static 'avatars/avatar2.png' %}"
                                         {% endif %}
                                         alt="Foto de {{ request.user.username }}" />
									<span class="user-info">
										<small>Bienvenid@,</small>
										{% firstof request.user.get_short_name request.user.get_username %}
									</span>
	
									<i class="ace-icon fa fa-caret-down"></i>
								</a>
	
								<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
									<li>
										<a href="{% url 'core:profile' request.user.id %}">
											<i class="ace-icon fa fa-user"></i>
											Perfíl de Usuario
										</a>
									</li>	
									<li class="divider"></li>
	
									<li>
										<a href="{% url 'core:logout' %}">
											<i class="ace-icon fa fa-power-off"></i>
											Salir
										</a>
									</li>
								</ul>
							</li>
	
							<!-- /section:basics/navbar.user_menu -->
						</ul>
					{% endif %}
					</div>
	
					<!-- /section:basics/navbar.dropdown -->
				</div><!-- /.navbar-container -->
			</div>
		{% endblock navbar %}
			<!-- /section:basics/navbar.layout -->
			<div class="main-container" id="main-container">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
			{% block sidebar %}
				<!-- #section:basics/sidebar -->
				<div id="sidebar" class="sidebar                  responsive">
	
					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="ace-icon fa fa-signal"></i>
							</button>
	
							<button class="btn btn-info">
								<i class="ace-icon fa fa-pencil"></i>
							</button>
	
							<!-- #section:basics/sidebar.layout.shortcuts -->
							<button class="btn btn-warning">
								<i class="ace-icon fa fa-users"></i>
							</button>
	
							<button class="btn btn-danger">
								<i class="ace-icon fa fa-cogs"></i>
							</button>
	
							<!-- /section:basics/sidebar.layout.shortcuts -->
						</div>
	
						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>
	
							<span class="btn btn-info"></span>
	
							<span class="btn btn-warning"></span>
	
							<span class="btn btn-danger"></span>
						</div>
					</div><!-- /.sidebar-shortcuts -->
	
					<ul class="nav nav-list">
						<li class="">
							<a href="{% url 'core:home' %}">
								<i class="menu-icon fa fa-home"></i>
								<span class="menu-text"> Inicio </span>
							</a>
	
							<b class="arrow"></b>
						</li>
	
						<li class="">
							<a href="#" class="dropdown-toggle">
								<i class="menu-icon fa fa-desktop"></i>
								<span class="menu-text"> UI Elements </span>
	
								<b class="arrow fa fa-angle-down"></b>
							</a>
	
							<b class="arrow"></b>
	
							<ul class="submenu">
								<li class="">
									<a href="elements.html">
										<i class="menu-icon fa fa-caret-right"></i>
										Elements
									</a>
	
									<b class="arrow"></b>
								</li>
	
								<li class="">
									<a href="buttons.html">
										<i class="menu-icon fa fa-caret-right"></i>
										Buttons &amp; Icons
									</a>
	
									<b class="arrow"></b>
								</li>
							</ul>
						</li>
					</ul><!-- /.nav-list -->
	
					<!-- #section:basics/sidebar.layout.minimize -->
					<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
						<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
					</div>
	
					<!-- /section:basics/sidebar.layout.minimize -->
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>
			{% endblock sidebar %}
			<!-- /section:basics/sidebar -->

				<div class="main-content">

					{% block breadcrumbs %}


					{% endblock breadcrumbs %}

					<div class="page-content">
						<div class="page-content-area">

						{% block pageheader %}
                              {% if messages %}
                                <div class="col-sm-12">
                                    <h3 class="header smaller lighter green">
                                        <i class="ace-icon fa fa-bullhorn"></i>
                                        Atención
                                    </h3>
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">
                                        {% endif %}
                                        {% if message.tags == 'warning' %}
                                            <div class="alert alert-warning">
                                        {% endif %}
                                        {% if message.tags == 'success' %}
                                            <div class="alert alert-success">
                                        {% endif %}
                                        {% if message.tags == 'info' %}
                                            <div class="alert alert-info">
                                        {% endif %}
                                            <button type="button" class="close" data-dismiss="alert">
                                                <i class="ace-icon fa fa-times"></i>
                                            </button>

                                            <strong>
                                                <i class="ace-icon fa fa-times"></i>
                                                {{ message }}
                                            </strong>

                                            {{ message }}
                                            <br>
                                        </div>
                                    {% endfor %}
                                    <div class="hr dotted"></div>
                                </div>
                              {% endif %}
						{% endblock pageheader %}

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								{% block contenido %}
								
								{% endblock contenido %}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				{% block footer %}
					<div class="footer">
						<div class="footer-inner">
							<!-- #section:basics/footer -->
							<div class="footer-content">
								<span class="bigger-120">
									<span class="blue bolder">GesIESWeb</span>
									&copy; 2014-2015 Francisco Mora Sánchez
								</span>

								&nbsp; &nbsp;
								<span class="action-buttons">
									<a href="#">
										<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
									</a>

									<a href="#">
										<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
									</a>

									<a href="#">
										<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
									</a>
								</span>
							</div>

							<!-- /section:basics/footer -->
						</div>
					</div>
				{% endblock footer %}	

				<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
					<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
				</a>
			</div><!-- /.main-container -->

		
		<!-- basic scripts -->
		<!--[if !IE]> -->
		<script src="{% static 'js/jquery.min.js' %}"></script>			
		<!-- <![endif]-->

		<!--[if IE]>
		<script src="{% static 'js/jquery1x.min.js' %}"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static "js/jquery.mobile.custom.min.js" %}'>"+"<"+"/script>");
		</script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		{% block extra_js_links %}
		

		{% endblock extra_js_links %}  			

		<!-- ace scripts -->
		<script src="{% static 'js/ace-elements.min.js' %}"></script>
		<script src="{% static 'js/ace.min.js' %}"></script>

		<!-- place project specific Javascript in this file -->
		<script src="{% static 'jsproject/gesiesweb.js' %}"></script>

		{% block extra_js %}



		{% endblock extra_js %}
	</body>
</html>
