{% load staticfiles %}
{% load firstof from future %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="es" ng-app="gesieswebApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>
			{% block title %}
			GesIESWeb
			{% endblock title %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="shortcut icon" href="{% static 'imgproject/favicon.ico' %} " />		
		
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />

		<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />

        <link rel="stylesheet" href="{% static 'css/ui.jqgrid.css' %}" />

		<!-- page specific plugin styles -->
		{% block page_especific_plugins_styles %}

        {% endblock page_especific_plugins_styles %}

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'css/ace-fonts.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'css/ace.min.css' %}" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'css/ace-part2.min.css' %}" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'css/ace-skins.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/ace-rtl.min.css' %}" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'css/ace-ie.min.css' %}" />
		<![endif]-->
		
		<!-- inline styles related to this page -->
		{% block inline_styles_related_to_this_page %}

		{% endblock inline_styles_related_to_this_page %}

		<!-- ace settings handler -->
		<script src="{% static 'js/ace-extra.min.js' %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'js/html5shiv.min.js' %}"></script>
		<script src="{% static 'js/respond.min.js' %}"></script>
		<![endif]-->


		<!-- This file store project specific CSS -->
		<link rel="stylesheet" href="{% static 'cssproject/gesiesweb.css' %}" />
		<!-- Use this to quickly test CSS changes in a template, then move to gesiesweb.css -->
		{% block extra_css %}

		{% endblock extra_css %} 

	</head>

	<body class="no-skin">
		
            {% include "navbar.html" %}

			<div class="main-container" id="main-container">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

                {% include "sidebar.html" %}

				<div class="main-content">

					{% block breadcrumbs %}


					{% endblock breadcrumbs %}

					<div class="page-content">
						<div class="page-content-area">

						{% block pageheader %}
                              {% if messages %}
                                <div class="col-sm-12">
                                    <h3 class="header smaller lighter green">
                                        <i class="ace-icon fa fa-bullhorn"></i>
                                        Atención
                                    </h3>
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">
                                        {% endif %}
                                        {% if message.tags == 'warning' %}
                                            <div class="alert alert-warning">
                                        {% endif %}
                                        {% if message.tags == 'success' %}
                                            <div class="alert alert-success">
                                        {% endif %}
                                        {% if message.tags == 'info' %}
                                            <div class="alert alert-info">
                                        {% endif %}
                                            <button type="button" class="close" data-dismiss="alert">
                                                <i class="ace-icon fa fa-times"></i>
                                            </button>

                                            <strong>
                                                <i class="ace-icon fa fa-times"></i>
                                                {{ message }}
                                            </strong>

                                            {{ message }}
                                            <br>
                                        </div>
                                    {% endfor %}
                                    <div class="hr dotted"></div>
                                </div>
                              {% endif %}
						{% endblock pageheader %}

						<div class="row">
							<div class="col-xs-12" ng-controller="{% block angularCTRL %}{% endblock angularCTRL %}">
								<!-- PAGE CONTENT BEGINS -->
								{% block contenido %}
								
								{% endblock contenido %}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

                {% include "footer.html" %}

				<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
					<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
				</a>
			</div><!-- /.main-container -->

		
		<!-- basic scripts -->
		<!--[if !IE]> -->
		<script src="{% static 'js/jquery.min.js' %}"></script>			
		<!-- <![endif]-->

		<!--[if IE]>
		<script src="{% static 'js/jquery1x.min.js' %}"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static "js/jquery.mobile.custom.min.js" %}'>"+"<"+"/script>");
		</script>

		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>

		<script src="{% static 'js/date-time/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/date-time/locales/bootstrap-datepicker.es.js' %}"></script>

        <!-- jqgrid ace
		<script src="{% static 'js/jqGrid/jquery.jqGrid.js' %}"></script>
		<script src="{% static 'js/jqGrid/i18n/grid.locale-es.js' %}"></script>
        -->

        <script src="{% static 'jqgrid/js/i18n/grid.locale-es.js' %}"></script>
   		<script src="{% static 'jqgrid/js/jquery.jqGrid.min.js' %}"></script>

        <!--
		<script src="{% static 'js/angular.min.js' %}"></script>
		<script src="{% static 'js/angular-resource.min.js' %}"></script>
        -->

		<!-- ace scripts -->
		<script src="{% static 'js/ace-elements.min.js' %}"></script>
		<script src="{% static 'js/ace.min.js' %}"></script>

		<!-- place project specific Javascript in this file
		<script src="{% static 'jsproject/angularapp.js' %}"></script>
		<script src="{% static 'jsproject/controllers.js' %}"></script>
		<script src="{% static 'jsproject/services.js' %}"></script>
		<script src="{% static 'jsproject/gesiesweb.js' %}"></script>
        -->

		{% block page_specific_plugin_scripts %}

		{% endblock page_specific_plugin_scripts %}


		{% block extra_js %}

		{% endblock extra_js %}

        <script>
            /*
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-59049582-1', 'auto');
          ga('send', 'pageview');
            */
        </script>
	</body>
</html>
