            {% if request.user.is_authenticated %}


				<!-- #section:basics/sidebar -->
				<div id="sidebar" class="sidebar                  responsive">

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-warning">
								<i class="ace-icon fa fa-bullhorn"></i>
							</button>

							<button class="btn btn-warning">
								<i class="ace-icon fa fa-tachometer"></i>
							</button>

							<!-- #section:basics/sidebar.layout.shortcuts -->
							<button class="btn btn-danger">
								<i class="ace-icon fa fa-ambulance"></i>
							</button>

							<button class="btn btn-info">
								<i class="ace-icon fa fa-user"></i>
							</button>

							<!-- /section:basics/sidebar.layout.shortcuts -->
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-warning"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>

							<span class="btn btn-info"></span>
						</div>
					</div><!-- /.sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li class="">
							<a href="{% url 'core:home' %}">
								<i class="menu-icon fa fa-home"></i>
								<span class="menu-text"> Inicio </span>
							</a>

							<b class="arrow"></b>
						</li>

						<li class="">
							<a href="#" class="dropdown-toggle">
								<i class="menu-icon fa fa-bullhorn"></i>
								<span class="menu-text"> Partes </span>

								<b class="arrow fa fa-angle-down"></b>
							</a>

							<b class="arrow"></b>

							<ul class="submenu">
								<li class="">
									<a href="{% url "parte:partes" %}">
										<i class="menu-icon fa fa-caret-right"></i>
										Mis Partes
									</a>

									<b class="arrow"></b>
								</li>

                                {% if request.session.es_tutor %}
								<li class="">
									<a href="#">
										<i class="menu-icon fa fa-caret-right"></i>
										Partes Tutoría
									</a>

									<b class="arrow"></b>
								</li>
                                {% endif %}

                                {% if request.session.es_responsable %}
								<li class="">
									<a href="{% url "parte:partes-responsable" %}">
										<i class="menu-icon fa fa-caret-right"></i>
										Partes Centro
									</a>

									<b class="arrow"></b>
								</li>
                                {% endif %}

							</ul>
						</li>
					</ul><!-- /.nav-list -->

					<!-- #section:basics/sidebar.layout.minimize -->
					<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
						<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
					</div>

					<!-- /section:basics/sidebar.layout.minimize -->
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>
			<!-- /section:basics/sidebar -->
            {% endif %}
